
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="canonical" href="https://kodilla.com/pl/bootcamp-module/76/114" />
    <title>Preview index</title>
    <meta name="robots" content="noindex, follow" />
        
    <!-- START CSS -->

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/main-d35617d8cc.css" rel="stylesheet" type="text/css">
            
    <link href="/assets/prism.min.css" rel="stylesheet">

    <link href="/assets/bootcamp-808c98ef91.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/jquery.fancybox.min.css" type="text/css" media="screen">

    <!-- END CSS -->

</head>
<body >
    <nav class="navbar-main light navbar" data-menu-light="">
    <div class="nav-container">
        <div class="navbar-header clearfix">
            <a class="navbar-brand hidden-md-up" href="/preview/">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla">
            </a>
            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-toggleable-sm container" id="collapsingNavbar">
            <a class="navbar-brand hidden-sm-down"  href="/preview/">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla">
            </a>
        </div>
    </div>
    </nav>
    
    <main class="bootcamp module page-height-fix" id="bootcamp-module">
    
    <section class="container module-content">
        <div class="row">
            <main class="col-md-8">
                <section id="submodule-01" class="card submodule " data-bootcamp-user-submodule-id="" >
                <!-- klasy dla section: completed current comments -->
                    <div class="card-block submodule-header clearfix">
                        <h2 class="bootcamp-submodule-name"><span>Modules</span></h2>
                    </div>
                    <div class="card-block">
                        <div class="submodule-content">
                            <ul>
                                {{#each this}}                    
                                <li><a href="{{id}}.html">{{id}}. {{title}}</a></li>
                                {{/each}}                    
                            </ul>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </section>
</main>



    <div id="alerts">
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-success" role="alert">
        <i class="fa fa-check" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-info" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                        </ul>
    </div>
</div>    <div class="modal fade informator-modal" id="informator" tabindex="-1" role="dialog" aria-labelledby="informatorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla" class="brand-logo">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body content-container">
                <h3>Zam&oacute;w szczeg&oacute;łowy informator</h3>
                <h3 data-role="modal-informator-message" class="display-none">Informator został wysłany na podany adres email.</h3>
                <h4>Zostaw email i wyślemy Ci go</h4>
                <form class="row js-ajax-form" data-view-class="InformatorForm" action="/pl/download-guide" method="post">
                    <input type="hidden" name="ga-pobieranie-informatora-z-modala" value="wypelnienie">
                    <input type="hidden" name="tags[0]" value="run-automation-9">
                                        <div class="user-data-container">
                        <input type="text" class="form-control" name="firstname" placeholder="Imię">
                        <input type="text" class="form-control" name="surname" placeholder="Nazwisko">
                    </div>
                    <div class="user-data-container">
                        <input type="email" class="form-control" name="email" placeholder="Email" required/>
                        <input type="text" class="form-control" name="phone" placeholder="Numer telefonu">
                    </div>
                    <div class="terms-box">
                        <label>
                            <input data-custom-message="Prosimy o zaakceptowanie regulaminu" type="checkbox" class="form-control input-checkbox" required>
                            <span>Akceptuję <a target="_blank" href="/pl/terms">regulamin</a> i nie wnoszę zastrzeżeń</span>
                        </label>
                    </div>
                    <div class="personal-terms-box">
                        <label>
                            <input data-custom-message="Jeśli chcesz otrzymać dostęp do materiałów, konieczna jest akceptacja obydwu zgód" type="checkbox" class="form-control input-checkbox" required>
                            <span>Chcę otrzymywać newsletter, informacje o promocjach i produktach dostępnych w Kodilla.
                                <span class="details-button" data-action="show-details" data-identifier="personal-terms-details-informator">Szczegóły...</span>
                                <span class="display-none" data-identifier="personal-terms-details-informator">Administratorem Danych jest Codemy Spółka Akcyjna z siedzibą we Wrocławiu (53-149), ul. Racławicka 13. Przysługuje Tobie prawo dostępu, poprawienia swoich danych. Możesz cofnąć zgodę w każdym czasie.</span>
                            </span>
                        </label>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">
                            Pobierz Informator
                            <i data-role="loading-icon" class="fa fa-spinner fa-spin fa-1x fa-fw display-none"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p>Pobranie informatora do niczego nie zobowiązuje</p>
            </div>
        </div>
    </div>
</div><footer>
        <section class="footer-lower">
        <nav class="container">
            <a class="navbar-img" href="https://kodilla.com/pl">
                <img src="https://kodilla.com/static/img/logo-footer.png?47ed3" alt="Logo kodilla">
            </a>
            <ul class="nav">
                <li>
                    <a href="/pl/terms">Regulamin</a>
                </li>
                <li>
                    <a href="/pl/privacy-policy">Polityka Cookies</a>
                </li>
                <li class="nav-item">&copy; 2017 Kodilla</li>
            </ul>
        </nav>
    </section>
</footer>

<div data-role="notifications-wrapper" class="notifications-wrapper"></div>

    <!-- START JS part 1 -->
    
    <script src="/assets/jquery-2.1.4.min.js"></script>
    <script src="/assets/js.cookie-2.1.0.min.js"></script>
    <script src="/assets/jquery-dateFormat.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>

    <!-- END JS part 1 -->
    
    <!-- START JS part 2 -->
    
    <script src="/assets/underscore-min.js"></script>
    <script src="/assets/backbone-min.js"></script>
    <script src="/assets/backbone-relational.min.js"></script>
    <script src="/assets/backbone-super.min.js"></script>
    <script src="/assets/handlebars-v4.0.5.min.js"></script>
    <script src="/assets/handlebars-ifCond-4e97d51c76.js"></script>
    <script src="/assets/application-ec06bb5f82.js"></script>
    <script src="/assets/main-24117cdc80.js"></script>
    <script src="/assets/settings-2fedaf9385.js"></script>
    <script src="/assets/delete-account-da2b3de486.js"></script>
    <script type="text/x-translation" data-translation-name="checkAccountDeleteCalculationMessage">Wynik jest nieprawidłowy</script>
    <script src="/assets/forms-c716c7bd15.js"></script>
    <script src="/assets/alerts-15632e9137.js"></script>
    <script>
        App.Views.InpageAlertManager = Backbone.View.extend({
            events: {
                'click [data-alert-type][data-alert-text]': 'showAlert'
            },
            showAlert: function(e) {
                var $el = $(e.currentTarget);
                App.alertsView['show'+$el.data('alertType')]([App.Translations($el.data('alertText'))]);
            }
        });
    </script>
    <script src="/assets/collections-1703f0dc2b.js"></script>
    <script src="/assets/models-bc38b7a45b.js"></script>
    <script src="/assets/knowledge-base-bf25c808b5.js"></script>
    <script>
        App.Views.LearningProgram = Backbone.View.extend({
            events: {
                'click [data-technology-desc-expander]' : 'expandTechnologyDesc'
            },
    
            initialize: function() {
                this.$allTechnologyDesc = this.$el.find('[data-technology-desc]');
                this.$allTechnologyExpanderIcons = this.$el.find('[data-technology-expander-icon]');
            },
    
            expandTechnologyDesc: function() {
                this.$allTechnologyDesc.each(function(){
                    var $desc = $(this);
                    $desc.slideToggle('fast');
                });
                this.$allTechnologyExpanderIcons.each(function(){
                    var $icon = $(this);
                    $icon.toggleClass("fa-minus");
                });
            },
        });
    </script>
    
    <script src="/assets/tether.min.js"></script>
    <script src="/assets/prism.min.js"></script>

    <script src="/assets/bootcamp-0671f4eb7d.js"></script>
    <script src="/assets/jquery.seourl.min.js"></script>
    <script src="/assets/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.img-modal-group").fancybox();
        });
    </script>


    <!-- END JS part 2 -->

</body>
</html>
