
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="canonical" href="https://kodilla.com/pl/bootcamp-module/76/114" />
    <title>Preview: {{id}}. {{title}}</title>
    <meta name="robots" content="noindex, follow" />

    <!-- START CSS -->

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/main-d35617d8cc.css" rel="stylesheet" type="text/css">
            
    <link href="/assets/prism.min.css" rel="stylesheet">

    <link href="/assets/bootcamp-808c98ef91.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/jquery.fancybox.min.css" type="text/css" media="screen">

    <!-- END CSS -->

    <style>
        .dev-todo, .dev-comment {
            display: block !important;
            padding: 10px;
        }
        .dev-todo hr, .dev-comment hr {
            height: 1px;
            border-top: 3px solid rgba(0,0,0,0.3);
            margin-left: -10px;
            margin-right: -10px;
        }
        .dev-todo .bc-note, .dev-comment .bc-note {
            background-color: transparent;
        }
    </style>
</head>
<body >
    <nav class="navbar-main light navbar" data-menu-light="">
    <div class="nav-container">
        <div class="navbar-header clearfix">
            <a class="navbar-brand hidden-md-up" href="/preview/">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla">
            </a>
            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-toggleable-sm container" id="collapsingNavbar">
            <a class="navbar-brand hidden-sm-down"  href="/preview/">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla">
            </a>
        </div>
    </div>
    </nav>

    <main class="bootcamp module page-height-fix" id="bootcamp-module">
    <div class="table-of-contents">
        <section class="container">
            <div class="row">
                <aside class="module-nav col-md-4 col-md-offset-8">
                    <section class="card" style="position: fixed">
                        <div class="card-header">
                            <h4 class="card-title">Table of Contents</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each submodules}}
                                                        <li class="list-group-item ">
                                <a href="#submodule-{{id}}" class="clearfix">
                                    <p>{{../id}}.{{id}}. {{title}}</p>
                                    <i class="fa fa-check-circle-o"></i>
                                    <i class="fa fa-play-circle-o"></i>
                                    <i class="fa fa-send-o"></i>
                                    <i class="fa fa-exclamation-circle"></i>
                                </a>
                            </li>
                            {{/each}}
                                                    </ul>
                        <div class="card-block text-center">
                            <a href="https://kodilla.com/pl/mentor-dashboard/4">Back to dashboard</a>
                                                                                    </div>
                    </section>
                </aside>
            </div>
        </section>
    </div>
    <section class="container module-content">
        <div class="row">
            <main class="col-md-8">
                <section class="card">
                    <div class="card-block module-header clearfix ">
                        <h1 class="card-title">{{id}}. {{title}}</h1>
                        <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="card-block challenge">
                        <h3>In this module you will:</h3>
                        {{{content}}}
                    </div>
                                    </section>
                {{#each submodules}}
                <section id="submodule-{{id}}" class="card submodule " data-bootcamp-user-submodule-id="" >
                <!-- klasy dla section: completed current comments -->
                    <div class="card-block submodule-header clearfix">
                        <h2 class="bootcamp-submodule-name">{{../id}}.{{id}} <span>{{title}}</span></h2>
                    </div>
                    <div class="card-block">
                        <div class="submodule-content">
                            {{{content}}}
                        </div>
                    </div>
                    {{#if task}}
                                        <div class="card-block task-card"  style="display: block;" >
                        <h3>Task: <span class="task-title">{{task}}</span></h3>
                        <div class="task-content">
                            {{{taskContent}}}
                        </div>
                    </div>
                    {{/if}}
                                        <div class="card-block submodule-footer clearfix ">
                                                <div class="clearfix">
                                                                        </div>
                    </div>
                </section>
                {{/each}}
                            </main>
        </div>
    </section>
</main>



    <div id="alerts">
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-success" role="alert">
        <i class="fa fa-check" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                </ul>
    </div>
    <div class="alert alert-info" role="alert">
        <i class="fa fa-info" aria-hidden="true"></i>
        <button type="button" class="close" data-hide="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Zamknij</span>
        </button>
        <ul>
                        </ul>
    </div>
</div>    <div class="modal fade informator-modal" id="informator" tabindex="-1" role="dialog" aria-labelledby="informatorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="https://kodilla.com/static/img/logo-menu.png?67b77" alt="Logo Kodilla" class="brand-logo">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body content-container">
                <h3>Zam&oacute;w szczeg&oacute;łowy informator</h3>
                <h3 data-role="modal-informator-message" class="display-none">Informator został wysłany na podany adres email.</h3>
                <h4>Zostaw email i wyślemy Ci go</h4>
                <form class="row js-ajax-form" data-view-class="InformatorForm" action="/pl/download-guide" method="post">
                    <input type="hidden" name="ga-pobieranie-informatora-z-modala" value="wypelnienie">
                    <input type="hidden" name="tags[0]" value="run-automation-9">
                                        <div class="user-data-container">
                        <input type="text" class="form-control" name="firstname" placeholder="Imię">
                        <input type="text" class="form-control" name="surname" placeholder="Nazwisko">
                    </div>
                    <div class="user-data-container">
                        <input type="email" class="form-control" name="email" placeholder="Email" required/>
                        <input type="text" class="form-control" name="phone" placeholder="Numer telefonu">
                    </div>
                    <div class="terms-box">
                        <label>
                            <input data-custom-message="Prosimy o zaakceptowanie regulaminu" type="checkbox" class="form-control input-checkbox" required>
                            <span>Akceptuję <a target="_blank" href="/pl/terms">regulamin</a> i nie wnoszę zastrzeżeń</span>
                        </label>
                    </div>
                    <div class="personal-terms-box">
                        <label>
                            <input data-custom-message="Jeśli chcesz otrzymać dostęp do materiałów, konieczna jest akceptacja obydwu zgód" type="checkbox" class="form-control input-checkbox" required>
                            <span>Chcę otrzymywać newsletter, informacje o promocjach i produktach dostępnych w Kodilla.
                                <span class="details-button" data-action="show-details" data-identifier="personal-terms-details-informator">Szczegóły...</span>
                                <span class="display-none" data-identifier="personal-terms-details-informator">Administratorem Danych jest Codemy Spółka Akcyjna z siedzibą we Wrocławiu (53-149), ul. Racławicka 13. Przysługuje Tobie prawo dostępu, poprawienia swoich danych. Możesz cofnąć zgodę w każdym czasie.</span>
                            </span>
                        </label>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">
                            Pobierz Informator
                            <i data-role="loading-icon" class="fa fa-spinner fa-spin fa-1x fa-fw display-none"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <p>Pobranie informatora do niczego nie zobowiązuje</p>
            </div>
        </div>
    </div>
</div>
<footer class="site-footer">
                <section class="footer-lower">
            <nav class="container">
                <a class="navbar-img" href="https://kodilla.com/pl">
                    <svg id="kodilla-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168 29.553" width="168" height="30">
                        <defs>
                            <style>
                                .footer-logo-fill {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="Group_1" data-name="Group 1" transform="translate(23.59)">
                            <path id="KODILLA_copy_5_1_" class="footer-logo-fill" d="M78.058,0a14.758,14.758,0,1,0,.075,0Zm0,23.739a8.939,8.939,0,0,1-8.944-8.907V14.8c0-4.957,4.584-.708,8.907-.708,4.919,0,9.019-4.211,9.019.708a8.978,8.978,0,0,1-8.981,8.944Z" transform="translate(-63.3)"/>
                            <ellipse id="eye_copy_4_1_" class="footer-logo-fill" cx="3.876" cy="3.876" rx="3.876" ry="3.876" transform="translate(9.462 13.2) rotate(-28.436)"/>
                        </g>
                        <path id="Path_1" data-name="Path 1" class="footer-logo-fill" d="M0,29.819V.9H6.671V13.347L17.255.9h7.491L13.938,13.794,25.491,29.819h-7.6l-8.2-11.665-3.019,3.13v8.5H0Z" transform="translate(0 -0.565)"/>
                        <path id="Path_2" data-name="Path 2" class="footer-logo-fill" d="M151.4,29.819V.9h10.807a15.515,15.515,0,0,1,6.261,1.155,12.966,12.966,0,0,1,4.509,3.093A12.918,12.918,0,0,1,175.7,9.732a17.245,17.245,0,0,1,.932,5.59,16.821,16.821,0,0,1-1.006,5.963,12.227,12.227,0,0,1-2.907,4.547,13.484,13.484,0,0,1-4.547,2.944,15.964,15.964,0,0,1-5.925,1.043Zm18.41-14.5a11.274,11.274,0,0,0-.522-3.466,7.723,7.723,0,0,0-1.491-2.72,6.616,6.616,0,0,0-2.385-1.752,8.055,8.055,0,0,0-3.205-.6h-4.1v17.18h4.1a7.985,7.985,0,0,0,3.242-.634,6.8,6.8,0,0,0,2.385-1.826,8.286,8.286,0,0,0,1.453-2.72A11.634,11.634,0,0,0,169.81,15.322Z" transform="translate(-94.978 -0.565)"/>
                        <path id="Path_3" data-name="Path 3" class="footer-logo-fill" d="M228.3,29.819V.9h6.671V29.819Z" transform="translate(-143.219 -0.565)"/>
                        <path id="Path_4" data-name="Path 4" class="footer-logo-fill" d="M259.9,29.819V.9h6.671V23.968h14.012v5.851Z" transform="translate(-163.043 -0.565)"/>
                        <path id="Path_5" data-name="Path 5" class="footer-logo-fill" d="M327.371,23.931V.9H320.7V29.819h18.522l2.124-5.851H327.371Z" transform="translate(-201.185 -0.565)"/>
                        <path id="Path_6" data-name="Path 6" class="footer-logo-fill" d="M388.547.9h6.037L405.13,29.819h-6.857l-2.236-6.484h-9.019l-2.2,6.484H378Zm6.373,17.851L391.528,8.54l-3.466,10.211Z" transform="translate(-237.13 -0.565)"/>
                    </svg>
                </a>
                <ul class="nav">
                    <li>
                        <a href="https://kodilla.com/pl/terms">Regulamin</a>
                    </li>
                    <li>
                        <a href="https://kodilla.com/pl/privacy-policy">Polityka prywatności</a>
                    </li>
                    <li class="nav-item">&copy; 2018 Kodilla</li>
                </ul>
            </nav>
        </section>
    </footer>

    <div data-role="notifications-wrapper" class="notifications-wrapper"></div>

    <script type="text/javascript">
        var moment = undefined, momentReady = function(){};
    </script>

    <!-- START JS part 1 -->
    
    <script src="/assets/jquery-2.1.4.min.js"></script>
    <script src="/assets/js.cookie-2.1.0.min.js"></script>
    <script src="/assets/jquery-dateFormat.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>

    <!-- END JS part 1 -->
    
    <!-- START JS part 2 -->
    
    <script src="/assets/underscore-min.js"></script>
    <script src="/assets/backbone-min.js"></script>
    <script src="/assets/backbone-relational.min.js"></script>
    <script src="/assets/backbone-super.min.js"></script>
    <script src="/assets/handlebars-v4.0.5.min.js"></script>
    <script src="/assets/handlebars-ifCond-4e97d51c76.js"></script>
    <script src="/assets/application-ec06bb5f82.js"></script>
    <script src="/assets/main-24117cdc80.js"></script>
    <script src="/assets/settings-2fedaf9385.js"></script>
    <script src="/assets/delete-account-da2b3de486.js"></script>
    <script type="text/x-translation" data-translation-name="checkAccountDeleteCalculationMessage">Wynik jest nieprawidłowy</script>
    <script src="/assets/forms-c716c7bd15.js"></script>
    <script src="/assets/alerts-15632e9137.js"></script>
    <script>
        App.Views.InpageAlertManager = Backbone.View.extend({
            events: {
                'click [data-alert-type][data-alert-text]': 'showAlert'
            },
            showAlert: function(e) {
                var $el = $(e.currentTarget);
                App.alertsView['show'+$el.data('alertType')]([App.Translations($el.data('alertText'))]);
            }
        });
    </script>
    <script src="/assets/collections-1703f0dc2b.js"></script>
    <script src="/assets/models-bc38b7a45b.js"></script>
    <script src="/assets/knowledge-base-bf25c808b5.js"></script>
    <script>
        App.Views.LearningProgram = Backbone.View.extend({
            events: {
                'click [data-technology-desc-expander]' : 'expandTechnologyDesc'
            },
    
            initialize: function() {
                this.$allTechnologyDesc = this.$el.find('[data-technology-desc]');
                this.$allTechnologyExpanderIcons = this.$el.find('[data-technology-expander-icon]');
            },
    
            expandTechnologyDesc: function() {
                this.$allTechnologyDesc.each(function(){
                    var $desc = $(this);
                    $desc.slideToggle('fast');
                });
                this.$allTechnologyExpanderIcons.each(function(){
                    var $icon = $(this);
                    $icon.toggleClass("fa-minus");
                });
            },
        });
    </script>
    
    <script src="/assets/tether.min.js"></script>
    <script src="/assets/prism.min.js"></script>

    <script src="/assets/bootcamp-0671f4eb7d.js"></script>
    <script src="/assets/jquery.seourl.min.js"></script>
    <script src="/assets/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.img-modal-group").fancybox();
        });
    </script>
    

    <!-- END JS part 2 -->

</body>
</html>
